<body>
    <div class="card">
        <ng-container *ngIf="!isEditMode">
            <form class="profile-readonly" >              
                <div>
                    <h4 class="userinfo">Username:{{profileDetails.username}}</h4>                 
                </div>
                <div>
                    <h4 class="userinfo">Email:{{profileDetails.email}}</h4>                 
                </div>
            <p class="userinfo">Addicted Music Fan</p>
            <button class="editButton" type="button" (click)="toggleEditMode()">Edit</button>
            <button routerLink="/profile/my-music">My Music</button>
        </form>
        </ng-container>
        <ng-container *ngIf="isEditMode">
        <form class="profile" [formGroup]="form" (ngSubmit)="saveProfileHandler()">
            <div>
                <h3 class="userinfo">Username:<input type="text" id="username" name="username" formControlName="username" ngModel> </h3>
            </div>
            <div>
                <p class="userinfo">Email:<input type="text" id="email" name="email" formControlName="email" ngModel></p> 
            </div>
            <p class="userinfo">Addicted Music Fan</p>
            <button class="saveButton">Save</button>       
        </form>
        </ng-container>
    </div> 
</body>



