*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
background-color: #080710;
}

.background{
width: 430px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
}

.background .shape{
height: 200px;
width: 200px;
position: absolute;
border-radius: 50%;
}

.shape:first-child{
/* background: linear-gradient(
  #1845ad,
  #23a2f6
); */
left: -80px;
top: -80px;
}

.shape:last-child{
/* background: linear-gradient(
  to right,
  #ff512f,
  #f09819
); */
right: -30px;
bottom: -80px;
}

form{
height: 350px;
width: 400px;
background-color: rgba(255,255,255,0.13);
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px
}

form *{
font-family: 'Poppins',sans-serif;
color: #ffffff;
letter-spacing: 0.5px;
outline: none;
border: none;
}

form h3{
font-size: 26px;
font-weight: 500;
line-height: 42px;
text-align: center;
}

/* label{
display: block;
margin-top: 15px;
font-size: 14px;
font-weight: 500;
} */

/* input{
display: block;
height: 30px;
width: 100%;
background-color: rgba(255,255,255,0.07);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 12px;
font-weight: 300;
} */

::placeholder{
color: #e5e5e5;
}

.add-btn:hover {
  background-color: #292929;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top:100px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .userinfo {
    color:white;
  }

  .profile-readonly {
    padding: 10px;
  }