<body>
    <div class="card">
        <!-- <ng-container>
            <img src="/assets/generic-profile-pic.jpg" alt="John" style="width:100%">
        </ng-container> -->
        <ng-container *ngIf="!isEditMode">
            <form class="profile-readonly" >              
                <div>
                    <h4 class="userinfo">Username:{{profileDetails.username}}</h4>                 
                </div>
                <div>
                    <h4 class="userinfo">Email:{{profileDetails.email}}</h4>                 
                </div>
                <p class="userinfo">Addicted Music Fan</p>
        <button class="editButton" (click)="toggleEditMode()">Edit</button>
        <button routerLink="/profile/my-books">My Music</button>
    </form>
        </ng-container>
        <ng-container *ngIf="isEditMode">
        <form class="profile" #form="ngForm" (ngSubmit)="saveProfileHandler(form)">
            <div>
                <h3 class="userinfo">Username:<input type="text" id="username" name="username" formControlName="username" > </h3>
            </div>
            <div>
                <p class="userinfo">Email:<input type="text" id="email" name="email" formControlName="email"></p> 
            </div>
        <p class="userinfo">Addicted Music Fan</p>
        <button class="saveButton">Save</button>       
        </form>
        </ng-container>
    </div> 
</body>



<!-- <body>
    <div class="card">
        <img src="/assets/generic-profile-pic.jpg" alt="pic" style="width:100%">
        <h1>{{ user.username }}</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
</body> -->
