<body>
  <form #form="ngForm" (ngSubmit)="login(form)">

      <h3>Login Here</h3>

      <label for="email">Email</label>
      <input type="text" placeholder="Email" id="email" name="email" minlength="5" #inputEmail="ngModel" ngModel required >

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required</p>
        <p class="error" *ngIf="inputEmail.errors?.['minlength']">
          Email must be at least
          {{inputEmail.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" name="password" #inputPassword="ngModel" minlength="2" ngModel required>

      <ng-container *ngIf="inputPassword.touched">
        <p class = "error" *ngIf="inputPassword.errors?.['required']">Password is required</p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
              Password must be at least
              {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
            </p>
      </ng-container>  

      <button class="auth-btn" [disabled]="form.invalid">Login</button>
      <div class="reg-link">
        Don't have an account? Go to the <a href="/register">Registration form</a>
      </div>
      
  </form>
</body>


