<body>
  <!-- <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div> -->
  <form>
      <h3>Login Here</h3>

      <label for="email">Email</label>
      <input type="text" placeholder="Email" id="email" #inputEmail>

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" #inputPassword>

      <button class="auth-btn" (click)="login(inputEmail.value, inputPassword.value)">Login</button>
      <div class="reg-link">
        If you don't have an account, please go to the <a href="user/register">Registration form</a>
      </div>
      <!-- <div class="social"> -->
        <!-- <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
      <!-- </div> -->
  </form>
</body>



<!-- <form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
      <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
        <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form> -->
