<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<body>
    <div *ngIf="noAlbums">
        <h2>There are no albums.</h2>
    </div>  
    <div *ngFor="let album of albumsList" >
    <div class="albumCard">
        <div class="img-container">
            <a [routerLink]="album._id" class="normal">
            <img src="{{ album.coverUrl }}" alt="Avatar" ></a>
        </div>
        <div class="container">
            <h3><b>{{ album.name }}</b></h3>
            <h3>Artist: {{ album.artist }}</h3>
            <h3>Released: {{ album.released }}</h3>
            <div class="description">
                <p><b>Label:</b> {{album.label}}</p>
            </div>
        </div>
        <div class="details">
            <button class="details-btn" routerLink="catalog/${id}">Details</button>
        </div>
    </div>
</div>
</body>
<!-- </html> -->
