<body>
    <form #form="ngForm" (ngSubmit)="addAlbum(form)">
        <h3>Add Your Favourite Album</h3>
  
        <label for="artist">Artist</label>
        <input type="text" placeholder="Artist/Group..." id="artist">
  
        <label for="album-name">Album Name</label>
        <input type="text" placeholder="Album name..." id="album-name">
  
        <label for="release-year">Released On</label>
        <input type="text" placeholder="Release year..." id="release-year">

        <label for="genre">Genre</label>
        <input type="genre" placeholder="Genre..." id="genre">

        <label for="label-name">Label</label>
        <input type="text" placeholder="Label name..." id="label-name">
  
        <label for="singles">Notable Singles</label>
        <input type="text" placeholder="Singles..." id="singles">

        <label for="image">Album Cover</label>
        <input type="imageUrl" placeholder="Image URL..." id="imageUrl" alt="Album-cover">

        <button class="add-btn" [disabled]="form.invalid">Add</button>

    </form>
  </body>
  