<body>
    <form>
        <h3>Add Your Favourite Album</h3>
  
        <label for="artist">Artist</label>
        <input type="text" placeholder="Artist/Group" id="artist">
  
        <label for="album-name">Album Name</label>
        <input type="text" placeholder="Album name" id="album-name">
  
        <label for="release-year">Released On</label>
        <input type="text" placeholder="Release year" id="release-year">

        <label for="label-name">Label</label>
        <input type="text" placeholder="Label name" id="label-name">
  
        <label for="singles">Notable Singles</label>
        <input type="text" placeholder="Password" id="singles">

        <label for="image">Album Cover</label>
        <input type="imageUrl" placeholder="Image URL" id="imageUrl" alt="Album-cover">

  
        <button class="add-btn">Add</button>

    </form>
  </body>
  